:root{
  --mainbg: #00000027;
  --files-bg: #00000014;
  --files-bg-hover: #00000062;
  --files-text: #c0c0c0;
}
a{
  text-decoration: none;
  cursor: default;
}
body{
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, helvetica neue, Helvetica, Roboto, Arial, pingfang sc, hiragino sans gb, microsoft jhenghei;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  backdrop-filter: blur(2px);
}
main{
  width: 60%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.row{
  width: 100%;
  display: table;
}
.nav{
  height: 100%;
  padding: 5px;
  display: flex;
  background-color: var(--mainbg);
  border-radius: 1rem;
  transition: background-color 0.2s ease;
  justify-content: space-evenly;
  align-items: center;
}
.disk{
  float: left;
  border-radius: 1rem;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
}
.disk:hover{
  background-color: #d0c0876c;
}
.nav-title{
  display: inline-block;
  margin: 3px 3px 0 10px;
  color: #ffffff9c;
}
.home{
  float:right;
  border-radius: 1rem;
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
}
.home:hover{
  background-color: #d0c0876c;
}
.home-icon{
  width: 2rem;
  height: 2rem;
  display: inline-block;
}
.home-text{
  margin: 3px;
  display: inline-block;
  color:#ffffff8e;
}
.index{
  margin-top: .6rem;
}
.list{
  border-radius: 1rem;
  background-color: var(--mainbg);
  padding: 5px;
  color: var(--files-text);
}
.type{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.name::before{
  margin-right: 3px;
  display: inline-block;
  width: 20px;
}
.list a .name::before{
  content: "📄";
}
.list div .name::before{
  content: "📁";
}
.name{
  width: 50%;
  padding: 2px;
  display: inline-block;
  margin: 5px;
  color: var(--files-text);
}
.name:not(.type .name){
  cursor: pointer;
}
.dac:not(.type .dac){
  cursor: default; 
}
.dac{
  width: 25%;
  padding: 5px;
  display: inline-block;
  margin: 5px;
  color: var(--files-text);
  font-weight: 200;
}
.list-file{
  width: 100%;
  padding: 1px;
  border-radius: 1rem;
  transition: background-color 0.2s ease, transform 0.2s ease-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--files-bg);
}
.list-file:hover{
  background-color: var(--files-bg-hover);
  transform: scale(1.01);
}
.fastlink-row{
  margin-top: 1.4rem;
}
.fastlink{
  display: flex;
  align-items: center;
  background-color: var(--mainbg);
  padding: 7px;
  border-radius: 1rem;
  flex-wrap: wrap;
}
.fastlink-a{
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
  color: #f0f8ffb3;
  transition: background-color 0.3s ease;
}
.fastlink-a.active{
  cursor: default;
  text-decoration: underline;
}
.fastlink-a:hover:not(.active){
  background-color: #ffffff32;
}
.none-file{
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: var(--files-text);
}

@media (max-width: 768px){
  main{
    width: 80%;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 426px){
  main{
    width: 90%;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}