:root{
  --mainbg: #00000027;
  --files-bg: #00000014;
  --files-bg-hover: #00000062;
  --files-text: #c0c0c0;
}
a{
  text-decoration: none;
  cursor: pointer;
}
body{
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, helvetica neue, Helvetica, Roboto, Arial, pingfang sc, hiragino sans gb, microsoft jhenghei;
  margin: 0;
  background-color: #222;
}

/*文件渲染部分*/
main{
  margin: 0 auto;
  width: 95%;
}
.row{
  width: 100%;
  display: table;
}
.index{
  margin-top: .6rem;
}
.list{
  border-radius: 1rem;
  background-color: var(--mainbg);
  padding: 5px;
  color: var(--files-text);
  margin-bottom: 2rem;
}
.type{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.list a .name::before{
  content: "📄";
}
.list div .name::before{
  content: "📁";
}
.list-file .name.parent::before{
  content: "🔙";
}
.name, .dac{
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
  align-items: center;
}
.name{
  width: 50%;
  padding: 2px 0 2px 6px;
  display: inline-block;
  margin: 5px 0;
  color: var(--files-text);
  overflow-wrap: break-word;
}
.name::before{
  margin-right: 3px;
  display: inline-block;
  width: 20px;
}
.name:not(.type .name){
  cursor: pointer;
}
.dac:not(.type .dac){
  cursor: default; 
}
.dac{
  width: 25%;
  padding: 5px;
  display: inline-block;
  margin: 5px 0;
  color: var(--files-text);
  font-weight: 200;
}
.list-file{
  width: 100%;
  padding: 1px;
  border-radius: 1rem;
  display: table;
  align-items: center;
  background-color: var(--files-bg);
  transition: background-color 0.2s ease, transform 0.2s ease-out;
}
.list-file:hover{
  background-color: var(--files-bg-hover);
  transform: scale(1.01);
}
.fastlink-row{
  margin-top: 1.4rem;
}
.fastlink{
  display: flex;
  align-items: center;
  background-color: var(--mainbg);
  padding: 7px;
  border-radius: 1rem;
  flex-wrap: wrap;
}
.fastlink-a:first-child{
  margin-left: 1rem;
  padding: 0 .5rem;
  font-size: larger;
  font-weight: bold;
}
.fastlink-a{
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
  color: #f0f8ffb3;
  transition: background-color 0.3s ease;
}
.fastlink-a.active{
  cursor: default;
  text-decoration: underline;
}
.fastlink-a:hover:not(.active){
  background-color: #ffffff32;
}
.none-file{
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: var(--files-text);
}
.none-file span{
  display: block;
}
.none-file svg{
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  cursor: pointer;
}


nav{
  --nav-h: 3.6rem;
  width: 100%;
  height: var(--nav-h);
  background-color: var(--mainbg);
  color: #fff;
  margin-top: 1.5rem;
}
.ni{
  display: inline-block;
  height: 100%;
  text-align: center;
  line-height: var(--nav-h);
  padding: 0 .6rem;
  cursor: pointer;
}
.ni:hover{
  background-color: #fff3;
}
.nav-title{
  margin-left: 2rem;
  font-size: larger;
  font-weight: bold;
}
.nav-set{
  float: right;
  margin-right: 1.6rem;
}

section{
  width: 100%;
  color: #fff;
}
.sec-container{
  display: flex;
  align-items: center;
}
.intro{
  width: 80%;
  margin: 2rem auto;
}
.sec-img{
  width: 8rem;
  object-fit: cover;
}
.sec-img img{
  width: 100%;
}
.sec-title{
  font-size: large;
}
.sec-content{
  margin-left: 2rem;
}
.sec-describe{
  margin-left: 1rem;
  font-size: medium;
}
.sec-describe div{
  margin: .6rem 0;
}
.sec-describe svg{
  width: 18px;
  height: 18px;
}
.sec-describe a{
  color: #fff9;
  text-decoration: dotted underline;
}
.sec-describe a:hover{
  text-decoration: underline;
}
#userContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #b3bdc4;
}
.personal{
  width: 40%;
  margin: 2rem 0;
  padding: 1rem;
}
.userOverview{
  display: block;
  height: 6rem;
  text-align: center;
  line-height: 6rem;
  padding: .6rem 0;
  cursor: pointer;
}
.userOverview:hover{
  background-color: #333;
}
.userAvatar, .userName{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.userAvatar{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
#u-Domdkw .userAvatar{background-image: url(./Domdkw/9cfa1a.png);}
#u-Richmond .userAvatar{background-image: url(./Richmond/4d78ad.png);}
.userName{
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}
.userInfo{
  margin: 1rem 0 0 1rem;
  padding-left: 6px;
  border-left: 3px solid aliceblue;
  font-size: 1rem;
}
.state{
  margin-left: 1rem;
}
.sec-contral{
  display: block;
}
.sec-contral button{
  padding: 5px 10px;
  background: none;
  border: 2px solid #a9eef3;
  color: #a9eef3;
  cursor: pointer;
}
.sec-contral button:hover{
  background-color: #a9eef34c;
}
.otherAccount{
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: .5rem;
}
.otherAccount:hover{
  background-color: #a9eef34c;
}
.bili{
  background-image: url(./icon/bili.svg);
  background-size: cover;
}
.gh{
  background-image: url(./icon/gh.svg);
  background-size: cover;
}

@media screen and (max-width: 768px) {
  #userContainer{
    flex-direction: column;
  }
  .personal{
    width: 100%;
    margin: 1rem 0;
    padding: 0;
  }
}
@media screen and (max-width: 426px) {
  .sec-container{
    flex-direction: column;
  }
  .sec-img img{
    width: 60%;
  }
  .state{
    margin-left: 0;
  }
}
